In [2]:
import pandas as pd

df = pd.read_csv('../dataset/mmlu/test/abstract_algebra_test.csv')

In [3]:
df.head()

,"Find the degree for the given field extension Q(sqrt(2), sqrt(3), sqrt(18)) over Q.",0,4,2,6,B
0,"Let p = (1, 2, 5, 4)(2, 3) in S_5 . Find the i...",8,2,24,120,C
1,Find all zeros in the indicated finite field o...,0,1,"0,1","0,4",D
2,Statement 1 | A factor group of a non-Abelian ...,"True, True","False, False","True, False","False, True",B
3,Find the product of the given polynomials in t...,2x^2 + 5,6x^2 + 4x + 6,0,x^2 + 1,B
4,Statement 1 | If a group has an element of ord...,"True, True","False, False","True, False","False, True",A

In [5]:
df_abstract_algebra = pd.read_csv('../dataset/mmlu/test/abstract_algebra_test.csv')

In [8]:
df_abstract_algebra.head()

,"Find the degree for the given field extension Q(sqrt(2), sqrt(3), sqrt(18)) over Q.",0,4,2,6,B
0,"Let p = (1, 2, 5, 4)(2, 3) in S_5 . Find the i...",8,2,24,120,C
1,Find all zeros in the indicated finite field o...,0,1,"0,1","0,4",D
2,Statement 1 | A factor group of a non-Abelian ...,"True, True","False, False","True, False","False, True",B
3,Find the product of the given polynomials in t...,2x^2 + 5,6x^2 + 4x + 6,0,x^2 + 1,B
4,Statement 1 | If a group has an element of ord...,"True, True","False, False","True, False","False, True",A

In [12]:
df_abstract_algebra.iloc[:,0][2]

'Statement 1 | A factor group of a non-Abelian group is non-Abelian. Statement 2 | If K is a normal subgroup of H and H is a normal subgroup of G, then K is a normal subgroup of G.'

In [13]:
df_abstract_algebra = pd.read_csv('../dataset/mmlu/test/elementary_mathematics_test.csv')

In [14]:
df_abstract_algebra.head()

,What is the value of p in 24 = 2p?,p = 4,p = 8,p = 12,p = 24,C
0,Ms. Perez drove a total of 40 miles in 5 days....,5,7,8,9,C
1,Find the quotient of −40 ÷ (−8).,1 over 5,−5,−1 over 5,5,D
2,A soccer team has $90.00 to buy soccer balls. ...,4,5,6,7,B
3,You and three friends go to a concert. The tot...,4t = 112; $448,4t = 112; $28,t over 4 = 112; $448,t over 4 = 112; $28,B
4,Use the expression below to answer the questio...,9,11,26,32,C

In [15]:
df_abstract_algebra.iloc[:,0][2]

'A soccer team has $90.00 to buy soccer balls. If one soccer ball costs $15.60, what is the greatest number of soccer balls the team can buy?'

In [16]:
len(df.index)

99